In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [40]:
df = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [41]:
df = df.set_index('name')

In [16]:
catg = df[['year','fuel','seller_type','transmission','owner']]
for i in catg.columns:
    print(catg[i].value_counts())

2017    466
2015    421
2012    415
2013    386
2014    367
2018    366
2016    357
2011    271
2010    234
2019    195
2009    193
2008    145
2007    134
2006    110
2005     85
2020     48
2004     42
2003     23
2002     21
2001     20
1998     12
2000     12
1999     10
1997      3
1996      2
1995      1
1992      1
Name: year, dtype: int64
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: seller_type, dtype: int64
Manual       3892
Automatic     448
Name: transmission, dtype: int64
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

In [42]:
df['owner'] = df['owner'].apply(lambda x:0 if x == "First Owner" else 1).astype(int) # 0 First owner means 
#new car 1 second and above means used. This definition seems clear and more simplified

In [27]:
sorted(df['year'].unique())

[1992,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]

In [43]:
df['year'] = df['year'].apply(lambda x:0 if x<2000 else 
                              (1 if x>=2000 and x<=2005 else(
                               2 if x>=2006 and x<=2010 else(
                               3 if x>=2011 and x<=2015 else 4)))).astype(str)
#0 Any car from before 2000 1 2000-2005 2 2006-2010 3 2011-2015 4 Any car after 2015

In [46]:
df

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
name,,,,,,,
Maruti 800 AC,2,60000,70000,Petrol,Individual,Manual,0
Maruti Wagon R LXI Minor,2,135000,50000,Petrol,Individual,Manual,0
Hyundai Verna 1.6 SX,3,600000,100000,Diesel,Individual,Manual,0
Datsun RediGO T Option,4,250000,46000,Petrol,Individual,Manual,0
Honda Amaze VX i-DTEC,3,450000,141000,Diesel,Individual,Manual,1
...,...,...,...,...,...,...,...
Hyundai i20 Magna 1.4 CRDi (Diesel),3,409999,80000,Diesel,Individual,Manual,1
Hyundai i20 Magna 1.4 CRDi,3,409999,80000,Diesel,Individual,Manual,1
Maruti 800 AC BSIII,2,110000,83000,Petrol,Individual,Manual,1
Hyundai Creta 1.6 CRDi SX Option,4,865000,90000,Diesel,Individual,Manual,0
Renault KWID RXT,4,225000,40000,Petrol,Individual,Manual,0

In [45]:
df['fuel'] = df['fuel'].apply(lambda x:'Petrol' if x == 'Petrol' else ('Diesel' if x == 'Diesel' else 'Other'))

In [47]:
df = pd.get_dummies(df, columns = ['year','fuel','seller_type','transmission'])

In [48]:
df

,selling_price,km_driven,owner,year_0,year_1,year_2,year_3,year_4,fuel_Diesel,fuel_Other,fuel_Petrol,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual
name,,,,,,,,,,,,,,,,
Maruti 800 AC,60000,70000,0,0,0,1,0,0,0,0,1,0,1,0,0,1
Maruti Wagon R LXI Minor,135000,50000,0,0,0,1,0,0,0,0,1,0,1,0,0,1
Hyundai Verna 1.6 SX,600000,100000,0,0,0,0,1,0,1,0,0,0,1,0,0,1
Datsun RediGO T Option,250000,46000,0,0,0,0,0,1,0,0,1,0,1,0,0,1
Honda Amaze VX i-DTEC,450000,141000,1,0,0,0,1,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Hyundai i20 Magna 1.4 CRDi (Diesel),409999,80000,1,0,0,0,1,0,1,0,0,0,1,0,0,1
Hyundai i20 Magna 1.4 CRDi,409999,80000,1,0,0,0,1,0,1,0,0,0,1,0,0,1
Maruti 800 AC BSIII,110000,83000,1,0,0,1,0,0,0,0,1,0,1,0,0,1
Hyundai Creta 1.6 CRDi SX Option,865000,90000,0,0,0,0,0,1,1,0,0,0,1,0,0,1
Renault KWID RXT,225000,40000,0,0,0,0,0,1,0,0,1,0,1,0,0,1

In [50]:
df = df.drop(columns = ['year_0','fuel_Other','seller_type_Trustmark Dealer','transmission_Automatic'])

In [52]:
owner = df.pop('owner')
df.insert(0,'owner',owner)

In [54]:
df.to_csv('Cars.csv')